pip install numpy
pip install pandas
pip install scikit-learn
tkinter
pip install tabula
pip install aspose-words
pip install xlrd
pip install catboost
pip install seaborn
pip install matplotlib
pip install ploty
